@import "../../../../styles/Register.scss";

.ProfessionalInfoContainer {
    padding: 5px;
    li .Rows {
        .address {
            input {
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }

        .PersonalTwoCols {
            input {
                &:first-child {
                    width: 20%;
                    display: inline-block;
                }
                &:last-child {
                    width: 41%;
                    display: inline-block;
                }
            }
        }
    }

    li {
        z-index: 1;
    }

    li.employment {
        z-index: 10;
    }
    li.industryCategory {
        z-index: 9;
    }
    li.profession {
        z-index: 8;
    }
    li.jobLevel {
        z-index: 7;
    }
    li.unitName {
        z-index: 6;
    }
    li.unitAddress {
        z-index: 5;
    }
}